.calculator{
  margin: 100px auto;
  width: 350px;
}
#show-ans{
  padding: 20px;
  font-size: 40px;
  width: 7.4em;
  height: 1.4em;
  text-align: right;
  border: 5px solid black;
  background-color: #333;
  color: aliceblue;
}
.button{
  background: black;
  height: 1.5em;
  width: 1.5em;
  color: aliceblue;
  margin-top: 3px;
  margin-left: 2px;
  font-weight:900;
  font-size: 3.5em;
  
}
.button1{
  width: 172px;
  color: rgb(0, 80, 200);
}
.button2{
  width: 172px;
}
